@page "/Photos"
@model PhotoPageModel
<form>
    <p>
        Search :
        <input type="text" asp-for="SearchText" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table style="width:100%">
    <tr>
        <th>Date Added</th>
        <th>Description</th>
        <th>Event</th>
        <th>ID</th>
        <th>Path</th>
        <th>Path Changed</th>
        <th>Place</th>
        <th></th>
    </tr>
    @foreach (var photo in Model.Photos)
    {
        <tr>
            <td>@photo.DateAdded</td>
            <td>@photo.Description</td>
            <td>@photo.Event</td>
            <td>@photo.Id</td>
            <td>@photo.Path</td>
            <td>@photo.PathChanged</td>
            <td>@photo.Place</td>
            <td>
                <form method="get">
                    <button type="submit" asp-page="PhotoDetailPage" asp-route-id="@photo.Id">Show Extra Properties</button>
                </form>
            </td>
        </tr>
    }
</table>

We found: @Model.Total photos